################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/python/client_secret.json
/python/paswd.json
/.vs
/dotnet/obj
